body {
    background-color: #ccd5ae;
}

.w3-card{
    background-color: #fefae0;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Times New Roman", Times, serif;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}    

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 4 colunas com largura igual */
    gap: 20px; /* Espaçamento entre as imagens */
    object-fit: cover;
}

#title {
    font-size: 4.5em;
    text-align: center;
    font-style: bold;
}

h1, h2 {
    font-weight: bold;
}

p {
    text-align: justify;
    color: #283618;
    font-size: 1.5em;
    margin: 15px;
}

h2, h1, .info{
    text-align: center;
    color: #283618;
    font-size: 1.8em;
}

/* Responsividade para telas médias */
@media only screen and (max-width: 1200px) {
    .image-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Responsividade para telas pequenas */
@media only screen and (max-width: 768px) {
    .image-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsividade para telas muito pequenas */
@media only screen and (max-width: 480px) {
    .image-container {
        grid-template-columns: 1fr;
    }
}